@font-face {
    font-family: 'Futura Bk BT';
    src: url(/assets/fonts/futura.ttf);
}

body {
    font-family: "Futura Bk BT", sans-serif;
    z-index: 1;
}

.navigation-bar {
    height: 70px;
    width: 100%;
    margin-bottom: 2em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-current {
    color: #15bfea;
}

.topnav {
    float: right;
    margin-top: 1.5em;
}

.topnav a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    display: inline;
    padding: 5px 5px 5px 20px;
    opacity: 0.7;
}

.topnav .icon {
    visibility: hidden;
    display: none;
}

.overlay {
    transition: all 200ms linear;
    text-align: center;
    padding: 3.5rem 2rem;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.975);
    display: flex;
    z-index: 15;
}

.nav {
    width: 100%;
    top: 1.2em;
    position: relative;
}

.overlay a {
    color: black;
    opacity: 0.7;
    display: block;
}

.overlay a:hover, .navigation-bar a:hover {
    color: #15bfea;
    transition: all 200ms linear;
}

.overlay ul {
    width: 100%;
}

.overlay li a {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5em;
}

.overlay .icon {
    display: block;
    position: absolute;
    text-align: right;
    height: 1em;
    font-size: 1.4rem;
    text-align: right;
    float: right;
    top: 2em;
    right: 2em;
}

@media screen and (max-width: 500px) {
    .topnav a {
        display: none;
    }
    .topnav a:last-child {
        display: block;
        margin-right: 1em;
    }
    .topnav .icon {
        visibility: visible;
        display: block;
    }
}

.logo {
    margin-top: 0.5em;
    float: left;
}

.logo_title {
    font-weight: 300;
}

.logo_subtitle {
    font-weight: 300;
    color: #a8a8a8;
}

div .show {
    display: block;
}

.hero {
    margin-bottom: 25px;
}

.pagination {
    margin-top: 1em;
}

.footer {
    margin-top: 1em;
}

.about-page {
    align-items: center;
}

.projects {
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
}

.project-list, .blog-page, .hero-body, .pagination_container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-list {
    margin-top: 4em;
    margin-bottom: 4em;
}

.is-blue:hover {
    color: #ffffff;
    background-color: #15bfea;
    border-color: #15bfea;
}

.proficiencies p {
    padding-bottom: 1em;
}

.project-heading, .project-description {
    padding-bottom: 0.5em;
}

.project-heading a {
    text-decoration-line: underline;
    color: black;
    opacity: 0.7;
}

.project-heading a:hover {
    color: #15bfea;
}

.blog-page p a {
    color: black;
    opacity: 0.7;
    text-decoration-line: underline;
}

.blog-page p a:hover {
    color: #15bfea;
}

.hero-body {
    padding: 6em 0;
}

.home-intro h1 {
    padding-bottom: 0.5em;
}

.home-title {
    color: #a8a8a8;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.email {
    color: #15bfea;
}

.footer {
    background-color: rgb(34, 34, 34);
}

.footer .title {
    color: rgba(255, 255, 255, 0.9);
}

.caption {
    position: relative;
    padding: 0;
    margin: 0;
}

.caption img {
    display: block;
    max-width: 100%;
    height: auto;
}

.caption-text {
    text-align: center;
    display: table;
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 0.75em 3em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.caption:hover .caption-text {
    opacity: 1;
}

.image-overlay {
    display: table-cell;
    vertical-align: middle
}

.caption a {
    margin-top: 1em;
    background: none;
    color: #fff;
}

.caption a:hover {
    background-color: #fff;
    color: #000;
}

/*
.hero-title, .hero-subtitle .navbar-item{
    color: #fff;
}
*/