<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
    <script src="{{asset "js/jquery.css"}}"></script>
    <script src="{{asset "js/my_jquery.css"}}"></script>

    {{ghost_head}}    

</head>
<body>

    <!-- Header -->
    {{> navigation}}
    

    <!-- Body -->

    <!-- Footer -->

    {{> footer}}

    {{ghost_foot}}
</body>
</html>