<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
    <script src="{{asset "js/jquery.css"}}"></script>
    <script src="{{asset "js/my_jquery.css"}}"></script>


</head>
<body>

    <!-- Header -->
    {{> navigation}}
    <!-- Body -->
    <section class="hero">
        <div class="container">
            <div class="hero-body">
                <div class="home-intro">
                    <h1 class="title is-size-2-widescreen is-size-3-desktop is-size-4-mobile">Hello, I'm a Student  Developer at the University of Waterloo.</h1>
                    <h2 class="subtitle is-size-4-widescreen is-size-5-desktop is-size-6-mobile">
                        I design and build mobile apps, create websites and could be a great asset in your next project.
                    </h2>
                    <h2 class="subtitle is-size-4-widescreen is-size-5-desktop is-size-6-mobile">
                        Feel free to contact me at <a class="email" href="mailto:pranavkrsh@gmail.com">pranavkrsh@gmail.com.</a>
                    </h2>
                </div>
                <div class="home-projects">
                    <h2 class="home-title is-size-5">Projects</h2>
                    <div class="columns">
                        <h2 class="project-heading column is-one-fifth is-size-4-widescreen is-size-5-desktop is-size-6-mobile"><a href="https://gitlab.com/pkrshnan/budgetbuddy">BudgetBuddy</a></h2>
                        <p class="project-description column is-four-fifths is-size-4-widescreen is-size-5-desktop is-size-6-mobile">Android application built entirely in Java. </p>
                    </div>
                    <div class="columns">
                        <h2 class="project-heading column is-one-fifth is-size-4-widescreen is-size-5-desktop is-size-6-mobile"><a href="https://gitlab.com/pkrshnan/goodsamaritan">Good Samaritan</a></h2>
                        <p class="project-description column is-four-fifths is-size-4-widescreen is-size-5-desktop is-size-6-mobile">Android/iOS application built in React Native. </p>
                    </div>
                    <div class="columns">
                        <h2 class="project-heading column is-one-fifth is-size-4-widescreen is-size-5-desktop is-size-6-mobile"><a href="https://gitlab.com/pkrshnan/remindme">RemindMe!</a></h2>
                        <p class="project-description column is-four-fifths is-size-4-widescreen is-size-5-desktop is-size-6-mobile">Android application built entirely in Java. </p>
                    </div>
                    <div class="columns">
                        <h2 class="project-heading column is-one-fifth is-size-4-widescreen is-size-5-desktop is-size-6-mobile"><a href="https://gitlab.com/pkrshnan/swipathon">Swipathon</a></h2>
                        <p class="project-description column is-four-fifths is-size-4-widescreen is-size-5-desktop is-size-6-mobile">Android/iOS game built in Java and Swift.</p>
                    </div>
                </div>
                <div class="proficiencies">
                    <h2 class="home-title is-size-5">
                        Proficiencies
                    </h2>
                    <p class="is-size-5-desktop is-size-4-widescreen is-size-6-mobile">
                        While developing for mobile, I primarily develop mobile applications natively, using Java for Android and Swift for iOS. However, I also have sufficient experience with developing in React Native, which I employ when developing cross-platform applications. 
                    </p>
                    <p class="is-size-5-desktop is-size-4-widescreen is-size-6-mobile">
                        On the web, I primarily use Javascript for the front end and Node.js for the backend.
                    </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Footer -->

    {{> footer}}

</body>
</html>