{{!< default}}

<main class="container">
    <div class="columns is-multiline">
        {{#foreach posts }}
            <div class="column is-half is-centered">
                {{> post_card}}
            </div>
        {{/foreach}}
    </div>

</main>


<div class="container">
</div>
