<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset " css/style.css "}}">
    <script src="{{asset " js/jquery.css "}}"></script>
    <script src="{{asset " js/my_jquery.css "}}"></script>

</head>

<body>

    {{> navigation}}

    <!-- Project Images -->
    <div class="container">
        <div class="project-list">
            <div class="columns">
                <figure class="column image projects caption">
                    <img class="project-image" src="/assets/images/budgetbuddy.png">
                    <div class="caption-text">
                        <div class="image-overlay">
                            <figcaption class="text-image is-size-5-fullhd is-size-5-widescreen is-size-7-tablet">BudgetBuddy is an application for Android and iOS that uses machine learning in order to automatically
                                create and adjust a budget tailored for you.</figcaption>
                            <a href="https://gitlab.com/pkrshnan/budgetbuddy" target="_blank" class="is-size-5-fullhd is-size-5-widescreen is-size-7-tablet button image-button is-inverted">Read More</a>
                        </div>
                    </div>
                </figure>
                <figure class="column image projects caption">
                    <img class="project-image" src="/assets/images/goodsamaritan.png">
                    <div class="caption-text">
                        <div class="image-overlay">
                            <figcaption class="text-image is-size-5-fullhd is-size-5-widescreen is-size-7-tablet">GoodSamaritan is an application for Android and iOS that connects charities to consumers, allowing
                                charities to request exactly what they need.</figcaption>
                            <a href="https://gitlab.com/pkrshnan/goodsamaritan" target="_blank" class="is-size-5-fullhd is-size-5-widescreen is-size-7-tablet button image-button is-inverted">Read More</a>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="columns">
                <figure class="column image projects caption">
                    <img class="project-image" src="/assets/images/swipathon.png">
                    <div class="caption-text">
                        <div class="image-overlay">
                            <figcaption class="text-image is-size-5-fullhd is-size-5-widescreen is-size-7-tablet">Swipathon is a game for Android and iOS that tests both reflexes, hand to eye coordination, as
                                well as reaction time.</figcaption>
                            <a href="https://gitlab.com/pkrshnan/swipathon" target="_blank" class="is-size-5-fullhd is-size-5-widescreen is-size-7-tablet button image-button is-inverted">Read More</a>
                        </div>

                    </div>
                </figure>
                <figure class="column image projects caption">
                    <img class="project-image" src="/assets/images/remindme.png">
                    <div class="caption-text">
                        <div class="image-overlay">
                            <figcaption class="text-image is-size-5-fullhd is-size-5-widescreen is-size-7-tablet">RemindMe! is a location based reminders app that alerts you when you arrive at a certain location,
                                making it perfect for work or school related reminders.</figcaption>
                            <a href="https://gitlab.com/pkrshnan/remindme" target="_blank" class="is-size-5-fullhd is-size-5-widescreen is-size-7-tablet button image-button is-inverted">Read More</a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>



    {{> footer}}

</body>