<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
    <script src="{{asset "js/jquery.css"}}"></script>
    <script src="{{asset "js/my_jquery.css"}}"></script>

    {{ghost_head}}    

</head>
<body>


    {{> navigation}}    

    <!-- Body -->

    <main class="container">
        <div class="blog-page">
            <div class="columns is-multiline">
                {{#foreach posts }}
                    <div class="column is-half is-centered">
                        {{> post_card}}
                    </div>
                {{/foreach}}
            </div>
        </div>

    </main>

    <div class="container">
        {{pagination}}
    </div>



    <!-- Footer -->

    {{> footer}}


    {{ghost_foot}}
</body>
</html>