<div class="footer is-centered">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{#get "posts" limit="5" as |recent|}}
                <section class="recent-posts">
                    <h3 class="title is-4">Recent Posts</h3>
                    <ul>
                        {{#foreach recent}}
                        <li>
                            <a href="{{url}}">{{title}}</a>
                        </li>
                        {{/foreach}}
                    </ul>
                </section>
                {{/get}}
            </div>
            <div class="column">
                <section>
                    <h3 class="title is-4">Tags</h3>
                    <ul>
                        {{#get "tags" filter="slug:-all" limit="10" as |tag|}}
                            {{#foreach tag}}
                                    <li>
                                        <a href="{{url}}" class="tag">{{name}}</a>
                                    </li>
                            {{/foreach}}
                    {{/get}}

                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>