<div class="container">
    <div class="navigation-bar">
        <div class="logo">
            <h1 class="logo_title is-size-5">Pranav Krishnan</h1>
            <h1 class="logo_subtitle is-size-6">Student Developer</h1>
        </div>
        <div id="menu" class="topnav">
            <a href="/" class="is-size-5-desktop is-size-6-mobile nav-list">About</a>
            <a href="/projects" class="is-size-5-desktop is-size-6-mobile nav-list">Projects</a>
            <a href="/tag/all" class="is-size-5-desktop is-size-6-mobile nav-list">Blog</a>
            <a href="mailto:pranavkrsh@gmail.com" class="is-size-5-desktop is-size-6-mobile nav-list">Contact</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<div class="overlay">
    <div class="nav">
        <ul>
            <li>
                <a class="is-size-4" href="/">About</a>
            </li>
            <li>
                <a class="is-size-4" href="/projects">Projects</a>
            </li>
            <li>
                <a class="is-size-4" href="/tag/all">Blog</a>
            </li>
            <li>
                <a class="is-size-4" href="mailto:pranavkrsh@gmail.com">Contact</a>
            </li>
        </ul>
    </div>

    <a href="javascript:void(0);" class="icon">
        <i class="fa fa-times"></i>
    </a>


</div>