<div class="pagination_container">
    <nav class="pagination" role="navigation" aria-label="pagination">

        {{#if prev}}
        <a href="{{page_url prev}}" class="pagination-next">Newer Posts</a>
        {{/if}}

        <span class="page-number pagination-link is-blue">Page {{page}} of {{pages}}</span>

        {{#if next}}
        <a href="{{page_url next}}" class="pagination-previous is-blue">Older Posts</a>
        {{/if}}
    </nav>
</div>