<article class="card">
    {{#if feature_image}}
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{feature_image}}" alt="{{title}}">
            </figure>
        </div>
    {{/if}}

    <div class="card-content">
        <a href="{{url}}" class="title is-4">{{title}}</a>
        <div class="content">
            <p>
                {{#if meta_description}}    
                    {{meta_description}}
                {{else}}
                    {{excerpt words="40"}}....               
                {{/if}}
            </p>
            <p>
                {{author}} in {{tags}} on 
                <time>{{date}}</time>
            </p>
        </div>
    </div>
</article>